NF.Website/Connected Services/RatingsReference/Ratings1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62760/Ratings.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" />
  <xs:element name="GetRatings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetRatingsResult" nillable="true" type="q1:ArrayOfRatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetRatingsByNameResult" nillable="true" type="q2:ArrayOfRatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRatingByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetRatingByIdResult" nillable="true" type="q3:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="ratingDto" nillable="true" type="q4:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostRatingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="ratingDto" nillable="true" type="q5:RatingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutRatingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRating">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteRatingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteRatingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>