NF.Website/Connected Services/ProducersReference/Producers.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Producers" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62760/Producers.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62760/Producers.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62760/Producers.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IProducers_GetProducers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducers" />
  </wsdl:message>
  <wsdl:message name="IProducers_GetProducers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProducersResponse" />
  </wsdl:message>
  <wsdl:message name="IProducers_GetProducersByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducersByName" />
  </wsdl:message>
  <wsdl:message name="IProducers_GetProducersByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProducersByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IProducers_GetProducerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProducerById" />
  </wsdl:message>
  <wsdl:message name="IProducers_GetProducerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProducerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IProducers_PostProducer_InputMessage">
    <wsdl:part name="parameters" element="tns:PostProducer" />
  </wsdl:message>
  <wsdl:message name="IProducers_PostProducer_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostProducerResponse" />
  </wsdl:message>
  <wsdl:message name="IProducers_PutProducer_InputMessage">
    <wsdl:part name="parameters" element="tns:PutProducer" />
  </wsdl:message>
  <wsdl:message name="IProducers_PutProducer_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutProducerResponse" />
  </wsdl:message>
  <wsdl:message name="IProducers_DeleteProducer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProducer" />
  </wsdl:message>
  <wsdl:message name="IProducers_DeleteProducer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProducerResponse" />
  </wsdl:message>
  <wsdl:portType name="IProducers">
    <wsdl:operation name="GetProducers">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducers/GetProducers" message="tns:IProducers_GetProducers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducers/GetProducersResponse" message="tns:IProducers_GetProducers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducersByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducers/GetProducersByName" message="tns:IProducers_GetProducersByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducers/GetProducersByNameResponse" message="tns:IProducers_GetProducersByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProducerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducers/GetProducerById" message="tns:IProducers_GetProducerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducers/GetProducerByIdResponse" message="tns:IProducers_GetProducerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostProducer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducers/PostProducer" message="tns:IProducers_PostProducer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducers/PostProducerResponse" message="tns:IProducers_PostProducer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutProducer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducers/PutProducer" message="tns:IProducers_PutProducer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducers/PutProducerResponse" message="tns:IProducers_PutProducer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProducer">
      <wsdl:input wsaw:Action="http://tempuri.org/IProducers/DeleteProducer" message="tns:IProducers_DeleteProducer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IProducers/DeleteProducerResponse" message="tns:IProducers_DeleteProducer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IProducers" type="tns:IProducers">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProducers">
      <soap:operation soapAction="http://tempuri.org/IProducers/GetProducers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducersByName">
      <soap:operation soapAction="http://tempuri.org/IProducers/GetProducersByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProducerById">
      <soap:operation soapAction="http://tempuri.org/IProducers/GetProducerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostProducer">
      <soap:operation soapAction="http://tempuri.org/IProducers/PostProducer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutProducer">
      <soap:operation soapAction="http://tempuri.org/IProducers/PutProducer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProducer">
      <soap:operation soapAction="http://tempuri.org/IProducers/DeleteProducer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Producers">
    <wsdl:port name="BasicHttpBinding_IProducers" binding="tns:BasicHttpBinding_IProducers">
      <soap:address location="http://localhost:62760/Producers.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>