NF.Website/Connected Services/ProducersReference/Producers2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62760/Producers.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" />
  <xs:element name="GetProducers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetProducersResult" nillable="true" type="q1:ArrayOfProducerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetProducersByNameResult" nillable="true" type="q2:ArrayOfProducerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetProducerByIdResult" nillable="true" type="q3:ProducerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostProducer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="producerDto" nillable="true" type="q4:ProducerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostProducerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostProducerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutProducer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="producerDto" nillable="true" type="q5:ProducerDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutProducerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutProducerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProducer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProducerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteProducerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>