NF.Website/Connected Services/DirectorsReference/Directors.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Directors" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62760/Directors.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62760/Directors.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62760/Directors.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDirectors_GetDirectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectors" />
  </wsdl:message>
  <wsdl:message name="IDirectors_GetDirectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorsResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectors_GetDirectorsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorsByName" />
  </wsdl:message>
  <wsdl:message name="IDirectors_GetDirectorsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectors_GetDirectorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorById" />
  </wsdl:message>
  <wsdl:message name="IDirectors_GetDirectorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectorByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectors_PostDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:PostDirector" />
  </wsdl:message>
  <wsdl:message name="IDirectors_PostDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectors_PutDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:PutDirector" />
  </wsdl:message>
  <wsdl:message name="IDirectors_PutDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutDirectorResponse" />
  </wsdl:message>
  <wsdl:message name="IDirectors_DeleteDirector_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirector" />
  </wsdl:message>
  <wsdl:message name="IDirectors_DeleteDirector_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDirectorResponse" />
  </wsdl:message>
  <wsdl:portType name="IDirectors">
    <wsdl:operation name="GetDirectors">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectors/GetDirectors" message="tns:IDirectors_GetDirectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectors/GetDirectorsResponse" message="tns:IDirectors_GetDirectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectorsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectors/GetDirectorsByName" message="tns:IDirectors_GetDirectorsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectors/GetDirectorsByNameResponse" message="tns:IDirectors_GetDirectorsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectorById">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectors/GetDirectorById" message="tns:IDirectors_GetDirectorById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectors/GetDirectorByIdResponse" message="tns:IDirectors_GetDirectorById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostDirector">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectors/PostDirector" message="tns:IDirectors_PostDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectors/PostDirectorResponse" message="tns:IDirectors_PostDirector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutDirector">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectors/PutDirector" message="tns:IDirectors_PutDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectors/PutDirectorResponse" message="tns:IDirectors_PutDirector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirector">
      <wsdl:input wsaw:Action="http://tempuri.org/IDirectors/DeleteDirector" message="tns:IDirectors_DeleteDirector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDirectors/DeleteDirectorResponse" message="tns:IDirectors_DeleteDirector_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDirectors" type="tns:IDirectors">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDirectors">
      <soap:operation soapAction="http://tempuri.org/IDirectors/GetDirectors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectorsByName">
      <soap:operation soapAction="http://tempuri.org/IDirectors/GetDirectorsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectorById">
      <soap:operation soapAction="http://tempuri.org/IDirectors/GetDirectorById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostDirector">
      <soap:operation soapAction="http://tempuri.org/IDirectors/PostDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutDirector">
      <soap:operation soapAction="http://tempuri.org/IDirectors/PutDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirector">
      <soap:operation soapAction="http://tempuri.org/IDirectors/DeleteDirector" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Directors">
    <wsdl:port name="BasicHttpBinding_IDirectors" binding="tns:BasicHttpBinding_IDirectors">
      <soap:address location="http://localhost:62760/Directors.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>