NF.Website/Connected Services/DirectorsReference/Directors2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDirectorDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DirectorDto" nillable="true" type="tns:DirectorDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDirectorDto" nillable="true" type="tns:ArrayOfDirectorDto" />
  <xs:complexType name="DirectorDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="DirectorInfo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DirectorDto" nillable="true" type="tns:DirectorDto" />
  <xs:complexType name="BaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseDto" nillable="true" type="tns:BaseDto" />
</xs:schema>