NF.Website/Connected Services/DirectorsReference/Directors.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62760/Directors.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" />
  <xs:element name="GetDirectors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetDirectorsResult" nillable="true" type="q1:ArrayOfDirectorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetDirectorsByNameResult" nillable="true" type="q2:ArrayOfDirectorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetDirectorByIdResult" nillable="true" type="q3:DirectorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="directorDto" nillable="true" type="q4:DirectorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostDirectorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="directorDto" nillable="true" type="q5:DirectorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutDirectorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDirectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDirectorResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>