NF.Website/Connected Services/GenresReference/Genres.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62760/Genres.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" />
  <xs:element name="GetGenres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetGenresResult" nillable="true" type="q1:ArrayOfGenreDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenresByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetGenresByNameResult" nillable="true" type="q2:ArrayOfGenreDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="GetGenreByIdResult" nillable="true" type="q3:GenreDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="genreDto" nillable="true" type="q4:GenreDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostGenreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NF.ApplicationServices.DTOs" minOccurs="0" name="genreDto" nillable="true" type="q5:GenreDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PutGenreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGenreResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>